<html>
<head> <title>{{title}}</title> </head>
<link rel="stylesheet" href="./css/styles.css">
<body>
{{>header}}

<p>
    {{message}}
</p>
<button onclick="alert('hello my friend')"> click here</button><br>
{{>footer}}
</body>
</html>
