<html>
<head> <title>{{title}}</title> </head>
<link rel="stylesheet" href="./css/styles.css">
<body>
{{>header}}

<h1> {{body}} </h1>
<button onclick="alert('hello my friend')"> click here</button><br>
<form action="#" >
<input type="text" id="val">
<button>Search</button></form>
<div id="output"></div>
{{>footer}}
<script src="/js/jscr.js"></script>
</body>
</html>
